@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap");
html {
  /* height: 100vh; */
}
body {
  background-image: url("bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  background-color: #fff;
  margin: 15% auto;
}
.image-container {
  height: 250px;
  overflow: hidden;
}
.image-container img {
  width: 350px;
}
.text-container {
  padding: 5px 10px;
  border: 2px solid #a37857;
  margin: 10px;
  text-align: center;
}
.text-container h3 {
  color: #a37857;
  text-transform: uppercase;
  margin: 1em 0;
}
.text-container .name {
  font-family: "Caveat", cursive;
  font-size: 2.5em;
  color: #6d6d6d;
  margin: 0.3em 0;
}
.text-container a {
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid black;
}
.sub {
  color: #6d6d6d;
}
.row {
  display: flex;
}
@media only screen and (max-width: 768px) {
  .container {
    margin: 15% auto;
    width: auto;
  }
}

/* meter */
#chartdiv,
#chartdiv2,
.chart-container {
  width: 100%;
  height: 350px;
  background-color: #fff;
  margin: auto;
}
.chart-container .row {
  justify-content: space-around;
  padding: 1em 0 2em 0;
  background-color: #fff;
}
.chart-container button {
  outline: none;
  padding: 15px;
  border: none;
  cursor: pointer;
  background-color: #000;
  color: #fff;
}
.chart-container button:hover {
  background-color: #454545;
}
.chart-container tspan {
  font-size: 2em;
}
.chart-container h3 {
  text-align: center;
}
.amcharts-chart-div a {
  display: none !important;
}
